<form action="/add" method="post">

	{{#if message}}
		<p style="color: red">{{message}}</p>
	{{/if}}
	<div>
		<input type="text" placeholder="What's your to-do?" 
		name="content" value="{{goal.content}}">
	</div>

	<div>
		<input type="text" placeholder="Add a tag? Ex. Academics"
		name="tag" value="{{goal.tag}}">
	</div>

	<div>
		Due Date: 
		<input type="date" placeholder="Due Date"
		name="due_date" value="{{goal.due_date}}">
		<input type="text" placeholder="Hour"
		name="due_hour" value="{{goal.due_hour}}">
		:
		<input type="text" placeholder="Minute"
		name="due_min" value="{{goal.due_min}}">
	</div>

	<div>
    <input type="submit" value="ADD TO-DO">
  	</div>

 
</form>

