{{#section "add-notes"}}
	<style>	

		#addForm {
			width: 50%;
			margin: auto;
			padding: 20px;
		}

		#alertMsg {
			margin-left: 10%;
		}

		input {
			font-size: 17px;
		}

		#contentInput {
			position: relative;
			margin-left: 10%;
			margin-bottom: 5px;
			width: 80%;
		}

		#tagInput {
			position: relative;
			margin-left: 10%;
			margin-bottom: 5px;
			width: 261px;
		}

		#dateArea {
			position: relative;
			margin-left: 10%;
			margin-bottom: 5px;
			width: 80%;
		}

		#hourInput, #minInput {
			width: 45px;
			height: 1.7em;
		}

		#submitBtn {
			position: relative;
			margin-left: 40%;
			margin-top: 20px;
		}

	</style>

{{/section}}


<form id="addForm" action="/add" method="post">

	{{#if message}}
		<p id="alertMsg" style="color: red">{{message}}</p>
	{{/if}}

	<div>
		<input id="contentInput" type="text" placeholder="What's your to-do?" 
		name="content" value="{{goal.content}}">
	</div>

	<div>
		<input id="tagInput" type="text" placeholder="Add a tag? Ex. Academics"
		name="tag" value="{{goal.tag}}">
	</div>

	<div id="dateArea">
		Due Date: 
		<input id="dateInput" type="date" placeholder="Due Date"
		name="due_date" value="{{goal.due_date}}">
		<input id="hourInput" type="text" placeholder="Hour"
		name="due_hour" value="{{goal.due_hour}}">
		:
		<input id="minInput" type="text" placeholder="Min"
		name="due_min" value="{{goal.due_min}}">
	</div>

    <input id="submitBtn" type="submit" value="ADD TO-DO">

 
</form>

