
{{#section "home"}}

	<style>
		.container {
			width: 40%;
			margin: auto;
			margin-top: 15px;
		}

		.todos {
			padding-left: 8px;
		}

		#addArea {
			width: 40%;
			margin: auto;
			margin-top: 30px;
		}

		a {
			text-decoration: none;
		}

		.tag {
			color: gray;
			float: left;
			margin: 0;
			font-size: 1.2em;
		}

		.content {
			position: relative;
			left: 10px;
			font-size: 1.2em;
		}

		.dueDate {
			margin: 0;
		}

		.deleteBtn {
			position: relative;
			top: -45px;
			left: 75%;
		}

		.finishBtn {
			margin-left: -55px;
		}

	</style>

	{{#each goals}}

		<script>

			$(document).ready(function() {

				var btnId = "{{stripContent}}" + "finishBtn";
				var ctId = "{{stripContent}}";

				var finishState = true;
				$("#" + btnId).html("Finished :D");

				$("#" + btnId).click(function() {

					if (finishState) {
						$("#" + ctId).css({ 
									"text-decoration": "line-through",
									"color" : "gray",
								});
						$("#" + btnId).html("Not Finished :(");
					} else {
						$("#" + ctId).css({ 
									"text-decoration": "none",
									"color" : "black"
								});
						$("#" + btnId).html("Finished :D");
					}
					
					finishState = ! finishState;

				});
			});
		</script>
	{{/each}}
{{/section}}

{{#each goals}}
	<div class="container">
		<div class="todos">
			<p class="tag"><i>{{tag}}</i></p>
			<p class="content" id="{{stripContent}}">{{content}}</p>

			<a href="/edit/{{content}}">
				<button type="button">Edit</button>
			</a>

			<a class = "deleteBtn" href="/delete/{{content}}">
				<button type="button">Delete</button>
			</a>

			<button class="finishBtn" id="{{stripContent}}finishBtn"></button>

			
			<p class="createDate">Created at: {{create_date}}</p>

			<p class="dueDate">{{due_date}} {{due_time}}</p>
		</div>
		<hr>
	</div>

{{/each}}

<div id="addArea"> 
	<a href="/add">
		<button type="button">Add New To-Do</button>
	</a>
</div>